@import './misc/variables';
@import './misc/mixins';
@import './misc/normalize';
@import './partials/header';
@import './views/home';
@import './views/aboutme';
@import './views/services';
@import './views/portfolio';
@import './views/contact';